{% extends 'base.html' %}
<!-- Подключаем библиотеку django_bootstrap5. -->
{% load django_bootstrap5 %}

{% block content %}
  {% with data=form.instance %}
    <div class="card col-4">
      {% if '/edit/' in request.path %}
        <!-- Вывести заголовок и номер записи. -->
        <div class="card-header">Редактировать запись {{ form.instance.pk }}</div>
      {% elif '/delete/' in request.path %}
        <div class="card-header">Удалить запись {{ data.pk }}</div>
      {% else %}
        <div class="card-header">Калькулятор ожидания дня рождения</div>
      {% endif %}

      <div class="card-body">
        <form method="post">
          <!-- Добавьте тег csrf_token. Без него POST-запрос будет отклонён. -->
          {% csrf_token %}
          {% if not '/delete/' in request.path %}
            {% bootstrap_form form %}
          {% else %}
            <p>{{ data.first_name }} {{ data.last_name }}</p>
            <p>{{ data.birthday }}</p>
          {% endif %}
          {% bootstrap_button button_type='submit' content='Отправить' %}
        </form>
      </div>
    </div>

    {% if form.is_valid %}
      ID новой записи в БД: {{ data.id }}
      <hr />
      <h2>Привет, {{ data.first_name }} {{ data.last_name }}</h2>
      {% if birthday_countdown == 0 %}
        <p>С днём рождения!</p>
      {% else %}
        <p>Осталось дней до дня рождения: {{ birthday_countdown }}!</p>
      {% endif %}
    {% endif %}
  {% endwith %}
{% endblock %}
